// Fonts
// Primary font-family - Quicksand
// secondary font-family - Antic Didone

// Colours
// Primary background - #FFFFFF
// Secondary background - #F6F6F4
// Primary text and buttons - #3A3A3A
// Secondary text and buttons pressed - #545454
// Hovers focuses - #5B6888

$ff-primary: "Quicksand";
$ff-secondary: "Antic Didone";
$clr-bg-primary: #ffffff;
$clr-bg-secondary: #f6f6f4;
$clr-txt-primary: #3a3a3a;
$clr-txt-secondary: #545454;
$clr-btn: #3a3a3a;
$clr-hower-focus: #3a3a3a;
$clr-pressed: #545454;
